
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {

    --primary-color: #28392f;
    --red-color: #ff0000;
    --black-color: #121212;
    --white-color: #fffffa;


    --ff-primary: 'Roboto', sans-serif;
    --ff-regular: 400;
    --ff-black: 900;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--primary-color);
    background-color: var(--white-color);
    font-family: var(--ff-primary);

    font-size: 16px;
    font-weight: var(--ff-regular);
}

/* HEADER */
.logo-container {
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0.5rem;
}
svg {
    fill: var(--primary-color);
    opacity: 0.8;
}



.btn-bars {
    display: none;
}

@media screen and (max-width: 400px) { 

    .btn-bars {
        width: auto;
        height: auto;
        display: block;
        margin: 0 1rem;
        outline: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.125s ease;
    }
    
    .btn-bars i {
        color: #28392f;
    }
    
    
    .btn-open {
    
    }
    
    .btn-close {
        
    }
}

/* HEADER NAV */

.nav {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    visibility: visible;
    transition: all 0.325s ease-out;
}

@media screen and (max-width:400px) {
    .wrap {
        height: 0;
        visibility: hidden;
        transition: height 0.325s ease-in-out;
    }
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 3rem 0 10rem;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black-color);

    text-transform: uppercase;
    font-size: 1,5rem;
    font-weight: var(--ff-regular);
}

.l-header hr {
    margin: 0;
    color: var(--primary-color);
}



/* MAIN */

.l-main {

    box-sizing: border-box;
}

section {
    box-sizing: border-box;
    width: 100%;
    height: 100Vh;
    margin: 0;
}

.section-sobre {
    width: 100%;
    height: auto;
    margin: 0 0 3rem 0;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(https://images.unsplash.com/photo-1624969862644-791f3dc98927?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;

    overflow: hidden;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white-color);
}

.section-sobre h2 {
    padding: 2rem;
    text-align: center;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    line-height: 4rem;
    font-size: 3rem;
}

.section-sobre p {
    padding: 2rem 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.section-app {
    width: 100%;
    height: 50vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container p {
    padding: 0;
}

.input-container {
    position: relative;
    width: 322px;
    height: 50px;

    outline: none;

    text-align: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-container input {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    margin: 0;
    box-sizing: border-box;
    width: 220px;

    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.4rem;
    color: var(--primary-color);
    font-size: 1rem;
    letter-spacing: 2px;

}

.input::placeholder {
    color: var(--primary-color);
}
   
.input-container button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    color: var(--primary-color);
}


.input-container button i {
    font-size: 1.2rem;
}

/* BOTÃO DE COPIAR */
.btn-copy {
    opacity: 0.5;
}

.btn-copy:hover {
    opacity: 0.9;
}

i { 
    color: #28392f;
}

@media screen and (max-width:400px) {
    .btn-copy {
        opacity: 0.9;
    }
}

.fa-rotate-right {
    /* transform: rotate(-1eg); */
    transition: all 2s;
}

/* BOTÃO DE REFRESH */
.fa-rotate-right:active {

        -webkit-transform: rotateZ(-720deg);
        -ms-transform: rotateZ(-720deg);
        transform: rotateZ(-720deg);

        transition: all 0.325s ease;
}

.text-container {
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: center;
}

.alert {
    color: var(--red-color);
}

.visibility {
    display: none;
    transform: scale(0);
    transition: all 0.325s ease;
}

.input-container-sm {
    width: 35px;
    height: 35px;

    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}

#select {
    width: 40px;
    padding: 0  2px;
    font-size: 0.8rem;
    font-weight: var(--ff-regular);
    border-radius: 10px;
}


.container h3{
    padding: 0 0 0.5rem 0;
    margin: 0.5rem 0;
}

.types-container {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    gap: 0.3rem;
}

.container-label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    position: relative;
    margin: 0 0.2rem;

    color: var(--primary-color);
    cursor: pointer;
}

.container-label input{
   position: absolute;
   opacity: 0;
   height: 0;
   width: 0;

}

.input-checkbox {
    height: 18px;
    width: 18px;
    background: var(--white-color);
    border: 1px solid gray;
    border-radius: 3px;
}

.container-label input:checked ~ .input-checkbox{
    background: var(--primary-color);
    border: none;
}

.input-checkbox::after {
    content: '';
    display: none;
    position: absolute;
}

.container-label .input-checkbox::after {
    content: '';
    left: 5px;
    top: 2px;
    width: 5px;
    height: 9px;
    transform: rotate(45deg);
    border-right: 3px solid var(--white-color);
    border-bottom: 3px solid var(--white-color);
}

.container-label input:checked ~ .input-checkbox::after {
    display: block;
}

.l-footer {
    width: 100%;
    height: 5rem;

    display: flex;
    align-items: center;
    
    background: var(--primary-color);
    color: var(--white-color);
}

.l-footer p a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.8rem;
}

.l-footer p a:hover {
    text-decoration: underline;
}